@use "../../../styles/variables.scss" as *;

.calendar {
  color: $text-white;

  &__content {
    padding: 32px;
    text-align: center;
    max-width: $container-width;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 48px;
  }

  &__date-info {
    border-radius: 16px;
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 24px;
  }

  &__date-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }

  &__venue {
    font-size: 16px;

    svg {
      display: inline-flex;
      margin-right: 4px;
      opacity: 0.7;
    }
  }

  &__venue-address {
    opacity: 0.6;
    font-size: 14px;
  }

  &__grid-container {
    margin: 32px 0 24px;
    padding: 16px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-width: 1px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 14.2857%);
    gap: 16px 0;
    text-align: center;
  }

  &__weekday {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 8px;

    &--sunday {
      color: $primary-color;
    }

    &--saturday {
      color: #60d4f7;
    }
  }

  &__day {
    height: 20px;
    font-size: 16px;
    font-weight: 300;
    // padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--empty {
      visibility: hidden;
    }

    &--sunday {
      color: $primary-color;
    }

    &--saturday {
      color: #60d4f7;
      opacity: 0.8;
    }

    &--wedding {
      font-weight: 400;
    }

    &:has(.calendar__day-wedding) {
      opacity: 1;
    }
  }

  &__day-wedding {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $primary-color;
    color: $text-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }

  // dday
  &__dday {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dday-label {
    display: flex;
    font-weight: 700;
    background-image: linear-gradient(135deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
