@use "../../../styles/variables.scss" as *;

.hero {
  color: $text-white;
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../assets/intro.jpg) 55% 50% / cover no-repeat;
    z-index: 0;

    // 어두운 오버레이 (투명도 조절)
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: rgba(10, 9, 9, 0.5);
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(10, 9, 9, 0.5)
      );
      z-index: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100dvh;

    padding: 32px 32px 64px;
    text-align: center;
    box-sizing: border-box;
  }

  &__title {
    margin: 22% 0 auto;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px 30%;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 12px;
      opacity: 0.8;
    }

    &-text {
      margin-top: 4px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__details {
    font-size: 16px;
    line-height: 1.8;
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
  }

  &__venue {
    opacity: 0.8;
  }
}
