<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/'>Home</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/about.html'>About</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/category/Thinking'>Thinking</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/category/HTMLCSS'>HTML&CSS</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/category/Animation'>Animation</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/category/Accessibility'>Web Accessibility</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/category/Etc'>Etc</a>
</li>