@use "../../../styles/variables.scss" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  box-sizing: border-box;

  &.hero {
    padding: 0;
    height: 100dvh;
  }

  &__container {
    width: 100%;

    // @at-root .hero & {
    //   height: 100%;
    // }
  }
}
